/* Theme Data */

[data-md-color-scheme="default"] {

    .bool {
        color: #af2732;
    }   
    .bool:hover {
        color: #eb354d;
    }

    .int {
        color: #1b8360;
    }
    .int:hover {
        color: #28be80;
    }

    .float {
        color: #1d8722;
    }
    .float:hover {
        color: #2fca37;
    }

    .str {
        color: #AF5E27;
    }
    .str:hover {
        color: #eb7e35;
    }

    .ent {
        color: #1f92a1;
    }
    .ent:hover {
        color: #3bbaca;
    }

    .exec {
        color: #000000;
    }
    .exec:hover {
        color: #4e4e4e;
    }

    .glo {
    background-color: #F2F2F2;
    }

}

[data-md-color-scheme="slate"] {

    .bool {
        color: #e94f5c;
    }
    .bool:hover {
        color: #cf3c50;
    }
 
    .int {
        color: #2dc290;
    }
    .int:hover {
        color: #35ac8e;
    }

    .float {
        color: #40c740;
    }
    .float:hover {
        color: #2c9435;
    }

    .str {
        color: #e09237;
    }
    .str:hover {
        color: #c57432;
    }

    .ent {
        color: #3dc3d4;
    }
    .ent:hover {
        color: #3197a5;
    }

    .exec {
        color: #ffffff;
    }
    .exec:hover {
        color: #cfcfcf;
    }

}

/* Admonition customization */

.md-typeset .admonition.note {
    border: .075rem solid #4489ffb0;
}

.md-typeset .admonition.abstract {
    border: .075rem solid #00b0ffb0;
}

.md-typeset .admonition.info {
    border: .075rem solid #00b8d4b0;
}

.md-typeset .admonition.tip {
    border: .075rem solid #00bfa5b0;
}

.md-typeset .admonition.success {
    border: .075rem solid #00c853b0;
}

.md-typeset .admonition.question {
    border: .075rem solid #64dd17b0;
}

.md-typeset .admonition.warning {
    border: .075rem solid #ff9100b0;
}

.md-typeset .admonition.failure {
    border: .075rem solid #ff5252b0;
}

.md-typeset .admonition.danger {
    border: .075rem solid #ff1744b0;
}

.md-typeset .admonition.bug {
    border: .075rem solid #f50057b0;
}

.md-typeset .admonition.example {
    border: .075rem solid #7c4dffb0;
}

.md-typeset .admonition.quote {
    border: .075rem solid #9e9e9eb0;
}

/* Components */

@font-face {
  font-family: Glacial Indifference Bold;
  src: url(GlacialIndifference-Bold.otf);
}

.comp {
    font-family: "Glacial Indifference", sans-serif;
    background-color: #162741;
    color: #9DBAD4;
    font-size: 1rem;
    padding: .6rem;
    border-radius: 0.75rem;
}