/* Admonition customization */

.md-typeset .admonition.note {
    border: .075rem solid #4489ffb0;
}

.md-typeset .admonition.abstract {
    border: .075rem solid #00b0ffb0;
}

.md-typeset .admonition.info {
    border: .075rem solid #00b8d4b0;
}

.md-typeset .admonition.tip {
    border: .075rem solid #00bfa5b0;
}

.md-typeset .admonition.success {
    border: .075rem solid #00c853b0;
}

.md-typeset .admonition.question {
    border: .075rem solid #64dd17b0;
}

.md-typeset .admonition.warning {
    border: .075rem solid #ff9100b0;
}

.md-typeset .admonition.failure {
    border: .075rem solid #ff5252b0;
}

.md-typeset .admonition.danger {
    border: .075rem solid #ff1744b0;
}

.md-typeset .admonition.bug {
    border: .075rem solid #f50057b0;
}

.md-typeset .admonition.example {
    border: .075rem solid #7c4dffb0;
}

.md-typeset .admonition.quote {
    border: .075rem solid #9e9e9eb0;
}

/* Theme Data */

[data-md-color-scheme="default"] {

    /* Variable colors */
    /* bool links */

    .bool {
        color: #af2732;
    }   
    .bool:hover {
        color: #eb354d;
    }
    
    /* integer links */
    
    .int {
        color: #1b6e83;
    }
    .int:hover {
        color: #28a0be;
    }
    
    /* integer links */
    
    .float {
        color: #1d8722;
    }
    .float:hover {
        color: #2fca37;
    }
    
    /* string links */
    
    .str {
        color: #AF5E27;
    }
    .str:hover {
        color: #eb7e35;
    }

}

[data-md-color-scheme="slate"] {

    /* bool links */

    .bool {
        color: #e94f5c;
    }
    .bool:hover {
        color: #cf3c50;
    }
    
    /* integer links */
    
    .int {
        color: #2db1c2;
    }
    .int:hover {
        color: #359aac;
    }
    
    /* integer links */
    
    .float {
        color: #40c740;
    }
    .float:hover {
        color: #2c9435;
    }
    
    /* string links */
    
    .str {
        color: #e09237;
    }
    .str:hover {
        color: #c57432;
    }

}